@use '../typography'as Typography;
@use '../elevation'as Elevation;
@use '../animation'as Animation;
@use '../color'as Color;

$font-family: Typography.$font-family;
$font-size: Typography.$font-size--2;
$font-weight: Typography.$font-weight--4;
$line-height: Typography.$line-height--0;
$letter-spacing: Typography.$letter-spacing--4;
$margin: Typography.$font-size--2 0;
$text-transform: initial;
$text-decoration: none;
$white-space: normal;
$text-align: center;

$border-width: 0.125rem;
$border-style: solid;
$border-radius: 0.25rem;
$color: Color.$text-color--2;
$border-color: transparent;
$background-color: Color.$background-color--1;
$box-shadow: none;

$margin: 0;
$padding: 0 0.75rem;
$width: 100%;
$height: 4rem;

$item-border-width: 0.125rem;
$item-border-style: solid;
$item-border-radius: 0.5rem;
$item-color: Color.$text-color--2;
$item-border-color: Color.$border-color--2;
$item-background-color: Color.$background-color--2;
$item-box-shadow: none;

$item-margin: 0;
$item-padding: 0;
$item-width: 100%;
$item-height: initial;


// Card Outlined
$outlined-border-width: 0.0625rem !default;
$outlined-border-style: solid !default;
$outlined-border-color: #e0e0e0 !default;

// card__content
$content-padding: 1rem !default;

// Card FAB
$fab-height: 2.75rem !default;
$fab-width: $fab-height !default;
