$curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
$curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
$curve-sharp: cubic-bezier(0.4, 0, 0.6, 1);
$curve-default: $curve-fast-out-slow-in;
