.modal {
  border-radius: $modal__border-radius;
  border: 0;
  background-color: $modal__background-color;
  // position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  // z-index: 99;
  margin: 0 auto;

  position: fixed;
  z-index: 1003;
  display: none;
  opacity: 0;
  /* top: 10%; */
  transform: scaleX(0) scaleY(0);

  &--outlined {
    border-width: $modal__outlined-border-width;
    border-style: $modal__outlined-border-style;
    border-color: $modal__outlined-border-color;
    box-shadow: none;
  }

  &--raised {
    @include elevation__2;
    transition: animation__include-enter(box-shadow, 0.25s);
  }

  &:first-child {
    border-top-left-radius: $modal__border-radius;
    border-top-right-radius: $modal__border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $modal__border-radius;
    border-bottom-right-radius: $modal__border-radius;
  }

  &-content {
    padding: $modal__content-padding;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  &-action {
    // padding: $modal__content-padding;
    width: 100%;
    display: block;
    box-sizing: border-box;

    &--fluid {
      padding: 0;
    }
  }

  &-reveal {
    padding: $modal__padding;
    background-color: $modal__background-color;
    left: 0;
    top: 100%;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow-y: auto;
    position: absolute;
    display: none;
    box-sizing: border-box;
  }

  &-title {
    @include typography-mixin__headline-6;
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
  }

  &-subtitle {
    @include typography-mixin__subtitle-1;
    color: rgba(0, 0, 0, 0.75);
  }

  &-text {
    @include typography-mixin__body-2;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.5);
  }

  &-media {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    &::before {
      display: block;
      content: "";
    }

    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    &--square::before {
      padding-top: 100%;
    }

    &--16-9 {
      padding-top: 56.25%;
    }

    &-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
    }
  }
}
