.card {
  font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  height: 11.25rem;
  background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/language/python.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid var(--color-secondary);
  border-radius: 2px;
  color: var(--color-navy);
  background-color: var(--color-white);
  transition: box-shadow 200ms ease, transform 200ms ease;
  box-shadow: 0px 0px 0 var(--color-navy);
  position: relative;

  &:hover {
    -webkit-transform: translate(4px, -4px);
    -moz-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 #000000;
  }

  &-content {
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: var(--color-navy);
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
    max-width: 17.5rem;
    background-color: var(--color-white);
  }
}
