@use '../typography'as Typography;

$font-family: Typography.$font-family;
$font-size: Typography.$font-size--2;
$font-weight: Typography.$font-weight--5;
$line-height: Typography.$line-height--0;
$letter-spacing: Typography.$letter-spacing--5;
$margin: Typography.$font-size--2 0;
$text-transform: uppercase;
$text-decoration: none;
$white-space: normal;
$text-align: center;

$border-width: 0;
$border-radius: 0;
$background-color: transparent;

$margin: 0.25rem;
$padding: 0 0.25rem;
