$padding: 0 1rem !default;
$margin: 0rem !default;
$height: 4rem !default;
$width: 100% !default;

$content-padding: 0 !default;
$content-margin: 0 0 0 auto !default;
$content-height: $height !default;
$content-width: auto !default;

$item-height: 2.25rem !default;

$drawer__width: 250px;
