@use './'as List;
@use '../typography'as Typography;
@use '../elevation'as Elevation;
@use '../animation'as Animation;
@use '../color'as Color;

.list {
  /*  Typography  */
  font-family: List.$font-family;
  font-size: List.$font-size;
  font-weight: List.$font-weight;
  line-height: List.$line-height;
  letter-spacing: List.$letter-spacing;
  text-decoration: List.$text-decoration;
  text-transform: List.$text-transform;
  text-align: List.$text-align;
  /*  Decoration  */
  list-style-type: none;
  box-shadow: none;
  /*  Animations & Transitions  */
  transition: Animation.default(box-shadow), Animation.default(background-color),
    Animation.default(transform), Animation.default(border-color),
    Animation.default(color);
  /*  Spacing  */
  margin: List.$margin;
  padding: List.$padding;
  /*  Sizing  */
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  /*  Positioning  */
  position: relative;
  /*  Flexbox  */
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  vertical-align: middle;
  flex-direction: column;
  /*  Others  */
  user-select: none;
  outline: none;

  &-item {
    /*  Typography  */
    font-family: List.$font-family;
    font-size: List.$font-size;
    font-weight: List.$font-weight;
    line-height: List.$line-height;
    letter-spacing: List.$letter-spacing;
    text-decoration: List.$text-decoration;
    text-transform: List.$text-transform;
    text-align: List.$text-align;
    white-space: nowrap;
    /*  Decoration  */
    color: List.$color;
    border-width: List.$border-width;
    border-style: List.$border-style;
    border-radius: List.$border-radius;
    border-color: List.$border-color;
    background-color: List.$background-color;
    background-clip: padding-box;
    /*  Solveds border appearing darker than background on text button,
        Solved : https://stackoverflow.com/questions/35148726/border-and-background-show-up-as-different-colors-even-when-color-values-are-sam  */
    box-shadow: none;
    /*  Animations & Transitions  */
    transition: Animation.default(box-shadow),
      Animation.default(background-color), Animation.default(transform),
      Animation.default(border-color), Animation.default(color);
    /*  Spacing  */
    margin: List.$item-margin;
    padding: List.$item-padding;
    /*  Sizing  */
    height: List.$item-height;
    min-width: 100%;
    max-width: 100%;
    /*  Positioning  */
    position: relative;
    /*  Flexbox  */
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    vertical-align: middle;
    /*  Others  */
    overflow: hidden;
    user-select: none;
    will-change: box-shadow;
    outline: none;
    cursor: pointer;

    & a {
      /*  Decoration  */
      color: inherit;
      text-decoration: none;
    }
  }
}
