// Elevation Colors
$elevation--color--A: rgba(0, 0, 0, 0.125);
$elevation--color--B: rgba(0, 0, 0, 0.1);
$elevation--color--C: rgba(0, 0, 0, 0.075);

// Elevation Value 1
$elevation--0--A: "0px 0px 0px 0px" $elevation--color--A;
$elevation--0--B: "0px 0px 0px 0px" $elevation--color--B;
$elevation--0--C: "0px 0px 0px 0px" $elevation--color--C;

// Elevation Value 1
$elevation--1--A: "0px 0px 0px 0px" $elevation--color--A;
$elevation--1--B: "0px 0px 0px 1px" $elevation--color--B;
$elevation--1--C: "0px 0px 0px 0px" $elevation--color--C;

// Elevation Value 2
$elevation--2--A: "0px 1px 1px 0px" $elevation--color--A;
$elevation--2--B: "0px 1px 1px 0px" $elevation--color--B;
$elevation--2--C: "0px 1px 4px 0px" $elevation--color--C;

// Elevation Value 3
$elevation--3--A: "0px 2px 2px 0px" $elevation--color--A;
$elevation--3--B: "0px 2px 2px 0px" $elevation--color--B;
$elevation--3--C: "0px 2px 8px 0px" $elevation--color--C;

// Elevation Value 4
$elevation--4--A: "0px 2px 03px 0px" $elevation--color--A;
$elevation--4--B: "0px 2px 03px 0px" $elevation--color--B;
$elevation--4--C: "0px 2px 10px 0px" $elevation--color--C;

// Elevation Value 5
$elevation--5--A: "0px 4px 04px -2px" $elevation--color--A;
$elevation--5--B: "0px 4px 04px -2px" $elevation--color--B;
$elevation--5--C: "0px 4px 14px -2px" $elevation--color--C;

// Elevation Value 6
$elevation--6--A: "0px 7.5px 15px 0px" $elevation--color--A;
$elevation--6--B: "0px 2.5px 05px 0px" $elevation--color--B;
$elevation--6--C: "0px 2.5px 05px 0px" $elevation--color--C;

// Elevation Value 7
$elevation--7--A: "0px 10px 20px 0px" $elevation--color--A;
$elevation--7--B: "0px 05px 05px 0px" $elevation--color--B;
$elevation--7--C: "0px 05px 05px 0px" $elevation--color--C;

// Elevation Value 8
$elevation--8--A: "0px 15px 25px 0px" $elevation--color--A;
$elevation--8--B: "0px 05px 10px 0px" $elevation--color--B;
$elevation--8--C: "0px 05px 10px 0px" $elevation--color--C;

// Elevation Value 9
$elevation--9--A: "0px 20px 25px 0px" $elevation--color--A;
$elevation--9--B: "0px 05px 15px 0px" $elevation--color--B;
$elevation--9--C: "0px 05px 15px 0px" $elevation--color--C;

// Elevation Variables
$elevation--0: #{$elevation--0--A, $elevation--0--B, $elevation--0--C};
$elevation--1: #{$elevation--1--A, $elevation--1--B, $elevation--1--C};
$elevation--2: #{$elevation--2--A, $elevation--2--B, $elevation--2--C};
$elevation--3: #{$elevation--3--A, $elevation--3--B, $elevation--3--C};
$elevation--4: #{$elevation--4--A, $elevation--4--B, $elevation--4--C};
$elevation--5: #{$elevation--5--A, $elevation--5--B, $elevation--5--C};
$elevation--6: #{$elevation--6--A, $elevation--6--B, $elevation--6--C};
$elevation--7: #{$elevation--7--A, $elevation--7--B, $elevation--7--C};
$elevation--8: #{$elevation--8--A, $elevation--8--B, $elevation--8--C};
$elevation--9: #{$elevation--9--A, $elevation--9--B, $elevation--9--C};
