@mixin typography__mixin-headline-1 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Headline 1 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 112px;
  /* identical to box height, or 117% */
  letter-spacing: -1.5px;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

@mixin typography__mixin-headline-2 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Headline 2 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height, or 120% */
  letter-spacing: -0.5px;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

@mixin typography__mixin-headline-3 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Headline 3 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

@mixin typography__mixin-headline-4 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Headline 4 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 36px;
  /* identical to box height, or 106% */
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

@mixin typography__mixin-headline-5 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Headline 5 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  letter-spacing: 0.18px;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

@mixin typography__mixin-headline-6 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Headline 6 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.15px;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

@mixin typography__mixin-subtitle-1 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Subtitle 1 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.75);
}

@mixin typography__mixin-subtitle-2 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Subtitle 2 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.1px;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.75);
}

@mixin typography__mixin-body-1 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Body 1 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.5px;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

@mixin typography__mixin-body-2 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Body 2 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.25px;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.5);
}

@mixin typography__mixin-button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Button */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 1.25px;
  text-transform: uppercase;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

@mixin typography__mixin-caption {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Caption */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.4px;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

@mixin typography__mixin-overline {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Overline */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  /* 00. On Surface / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}
